.button {
  appearance: none;
  font-family: inherit;
  font-weight: 600;
  font-size: inherit;
  color: white;
  background: #303030;
  border: none;
  border-radius: 4px;
  padding: 0.25em 0.5em;
  margin: 1em 0 0;
  cursor: pointer;
}

.button:hover,
.button:focus {
  opacity: 0.8;
}
