.header {
  padding: 1em;
  width: 100%;
  border-bottom: 1px solid #eee;
  background: #fff;
  position: sticky;
  top: 0;
}

.checkout {
  float: right;
}

.checkoutLink {
  text-decoration: underline;
}

.appName {
  font-weight: bold;
}

.appName:hover, .checkoutLink:hover {
  opacity: 0.7;
}
