.header {
  padding: 1em;
  width: 100%;
  border-bottom: 1px solid #eee;
  background: #fff;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appName {
  font-size: 1.1em;
  font-weight: 800;
  text-transform: uppercase;
}

.appName:hover, .checkoutLink:hover {
  opacity: 0.7;
}
