.cart {
  display: flex;
  align-items: center;
}

.counter {
  font-weight: 600;
  border: 2px solid;
  display: inline-block;
  text-align: center;
  line-height: 1.25;
  padding: 0 .5em;
  height: 1.5em;
  min-width: 1.5em;
  border-radius: 3em;
  margin-right: 0.25em;
}

.icon {
  display: inline-block;
  margin-right: 0.25em;
  height: 1.5em;
  width: 1.5em;
}

.checkout {
  appearance: none;
  font-family: inherit;
  font-weight: 600;
  font-size: inherit;
  color: white;
  background: #303030;
  border: none;
  border-radius: 3em;
  padding: 0.25em 0.75em;
  cursor: pointer;
  margin-left: 0.75em;
}

.checkout:hover,
.checkout:focus {
  opacity: 0.8;
}

.disabled {
  cursor: default;
  opacity: 0.25;
}
.disabled:hover,
.disabled:focus {
  opacity: 0.25;
}
